[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
allure-pytest = "*"
allure-python-commons = "*"
appdirs = "*"
assertpy = "*"
astroid = "*"
atomicwrites = "*"
attrs = "*"
certifi = "*"
chardet = "*"
colorama = "*"
configparser = "*"
crayons = "*"
distlib = "*"
filelock = "*"
idna = "*"
iniconfig = "*"
isort = "*"
lazy-object-proxy = "*"
mccabe = "*"
pipenv = "*"
py = "*"
pylint = "*"
pyparsing = "*"
pytest = "*"
pytest-ordering = "*"
python-dateutil = "*"
pytest-dependency = "*"
requests = "*"
selenium = "*"
six = "*"
text-unidecode = "*"
toml = "*"
urllib3 = "*"
virtualenv = "*"
virtualenv-clone = "*"
webdriver-manager = "*"
wrapt = "*"
Faker = "*"
enums = "*"
xlrd = "*"
page-objects = "*"
gitpython = "*"
GitPython = "*"
fake-useragent = "*"
pytest-xdist = "*"

[requires]
python_version = "3.11"
